/* Enter your custom styles here */

.cornflowerBackground{
    background-color: #dedef0;
}

.blueHeaderText tbody tr:nth-child(odd){
    background-color: #eee;
}
.blueHeaderText tbody tr:nth-child(even){
    background-color: #fff;
}